##

In [10]:
import pandas as pd

In [11]:
episodios1 = pd.read_csv("../data/the_office_series.csv")
episodios1.info()
episodios1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    188 non-null    int64
 1   Season        188 non-null    int64
 2   EpisodeTitle  188 non-null    object
 3   About         188 non-null    object
 4   Ratings       188 non-null    float64
 5   Votes         188 non-null    int64
 6   Viewership    188 non-null    float64
 7   Duration      188 non-null    int64
 8   Date          188 non-null    object
 9   GuestStars    29 non-null     object
 10  Director      188 non-null    object
 11  Writers       188 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 17.8+ KB

,Unnamed: 0,Season,EpisodeTitle,About,Ratings,Votes,Viewership,Duration,Date,GuestStars,Director,Writers
0,0,1,Pilot,The premiere episode introduces the boss and s...,7.5,4936,11.20,23,24 March 2005,NaN,Ken Kwapis,Ricky Gervais |Stephen Merchant and Greg Daniels
1,1,1,Diversity Day,Michael's off color remark puts a sensitivity ...,8.3,4801,6.00,23,29 March 2005,NaN,Ken Kwapis,B. J. Novak
2,2,1,Health Care,Michael leaves Dwight in charge of picking the...,7.8,4024,5.80,22,5 April 2005,NaN,Ken Whittingham,Paul Lieberstein
3,3,1,The Alliance,"Just for a laugh, Jim agrees to an alliance wi...",8.1,3915,5.40,23,12 April 2005,NaN,Bryan Gordon,Michael Schur
4,4,1,Basketball,Michael and his staff challenge the warehouse ...,8.4,4294,5.00,23,19 April 2005,NaN,Greg Daniels,Greg Daniels
...,...,...,...,...,...,...,...,...,...,...,...,...
183,183,9,Stairmageddon,Dwight shoots Stanley with a bull tranquilizer...,8.0,1985,3.83,22,11 April 2013,NaN,Matt Sohn,Dan Sterling
184,184,9,Paper Airplane,The employees hold a paper airplane competitio...,8.0,2007,3.25,22,25 April 2013,NaN,Jesse Peretz,Halsted Sullivan | Warren Lieberstein
185,185,9,Livin' the Dream,Dwight becomes regional manager after Andy qui...,9.0,2831,3.51,42,2 May 2013,Michael Imperioli,Jeffrey Blitz,Niki Schwartz-Wright
186,186,9,A.A.R.M.,Dwight prepares for a marriage proposal and hi...,9.5,3914,4.56,43,9 May 2013,NaN,David Rogers,Brent Forrester
187,187,9,Finale,"One year later, Dunder Mifflin employees past ...",9.8,10515,5.69,51,16 May 2013,"Joan Cusack, Ed Begley Jr, Rachel Harris, Nanc...",Ken Kwapis,Greg Daniels

In [12]:
episodios2 = pd.read_csv("../data/the_office_imdb.csv")
episodios2.info()
episodios2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   season             188 non-null    int64
 1   episode_num        188 non-null    int64
 2   title              188 non-null    object
 3   original_air_date  188 non-null    object
 4   imdb_rating        188 non-null    float64
 5   total_votes        188 non-null    int64
 6   desc               188 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 10.4+ KB

,season,episode_num,title,original_air_date,imdb_rating,total_votes,desc
0,1,1,Pilot,2005-03-24,7.4,7006,The premiere episode introduces the boss and s...
1,1,2,Diversity Day,2005-03-29,8.3,6902,Michael's off color remark puts a sensitivity ...
2,1,3,Health Care,2005-04-05,7.7,5756,Michael leaves Dwight in charge of picking the...
3,1,4,The Alliance,2005-04-12,8.0,5579,"Just for a laugh, Jim agrees to an alliance wi..."
4,1,5,Basketball,2005-04-19,8.4,6183,Michael and his staff challenge the warehouse ...
...,...,...,...,...,...,...,...
183,9,19,Stairmageddon,2013-04-11,8.0,2961,Dwight shoots Stanley with a bull tranquilizer...
184,9,20,Paper Airplane,2013-04-25,8.0,3040,The employees hold a paper airplane competitio...
185,9,21,Livin' the Dream,2013-05-02,9.1,4448,Dwight becomes regional manager after Andy qui...
186,9,22,A.A.R.M.,2013-05-09,9.5,5930,Dwight prepares for a marriage proposal and hi...
187,9,23,Finale,2013-05-16,9.8,15245,"One year later, Dunder Mifflin employees past ..."

In [13]:
print(episodios1.Votes.sum())
print(episodios2.total_votes.sum()) # tiene más votos/información más reciente

533587
774409

In [14]:
descripciones = pd.concat([episodios1["About"], episodios2["desc"]], axis = 1)
descripciones

,About,desc
0,The premiere episode introduces the boss and s...,The premiere episode introduces the boss and s...
1,Michael's off color remark puts a sensitivity ...,Michael's off color remark puts a sensitivity ...
2,Michael leaves Dwight in charge of picking the...,Michael leaves Dwight in charge of picking the...
3,"Just for a laugh, Jim agrees to an alliance wi...","Just for a laugh, Jim agrees to an alliance wi..."
4,Michael and his staff challenge the warehouse ...,Michael and his staff challenge the warehouse ...
...,...,...
183,Dwight shoots Stanley with a bull tranquilizer...,Dwight shoots Stanley with a bull tranquilizer...
184,The employees hold a paper airplane competitio...,The employees hold a paper airplane competitio...
185,Dwight becomes regional manager after Andy qui...,Dwight becomes regional manager after Andy qui...
186,Dwight prepares for a marriage proposal and hi...,Dwight prepares for a marriage proposal and hi...
187,"One year later, Dunder Mifflin employees past ...","One year later, Dunder Mifflin employees past ..."

In [15]:
diferencias = episodios1["About"] != episodios2["desc"]
diferencias.sum()

np.int64(10)

In [16]:
desc_dif = descripciones[descripciones["About"] != descripciones["desc"]]
desc_dif

,About,desc
20,Jan comes into the Scranton Branch to give all...,Jan comes into the Scranton Branch to give all...
23,A routine office day is changed when children ...,A routine office day is changed when children ...
53,The Dunder Mifflin Infinity website is launchi...,The Dunder Mifflin Infinity website is launchi...
63,Dunder-Mifflin participates in a high school j...,Dunder Mifflin participates in a high school j...
68,"Michael and Holly have sex for the first time,...","Michael and Holly have sex for the first time,..."
72,When Michael discovers that corporate has brou...,When Michael discovers that corporate has brou...
125,Some co-workers who invested in Ryan's Interne...,Some co-workers who invested in Ryan's Interne...
130,When Jim gets an emergency phone call from Hel...,When Jim gets an emergency phone call from Hel...
171,The office trains Dwight to sell to a female c...,The office trains Dwight to sell to a female c...
176,Dwight tries to keep Daryl from leaving Dunder...,Dwight tries to keep Darryl from leaving Dunde...

In [17]:
print(descripciones["About"][20])
print(descripciones["desc"][20])
print()
print(descripciones["About"][23])
print(descripciones["desc"][23])

Jan comes into the Scranton Branch to give all the female employees a group seminar on women in the workplace. Upset that he is not allowed in on the proceedings, Michael takes all the men ...
                    See full summaryÃƒâ€šÃ‚Â Ãƒâ€šÃ‚Â»
Jan comes into the Scranton Branch to give all the female employees a group seminar on women in the workplace. Upset that he is not allowed in on the proceedings, Michael takes all the men of Dunder Mifflin down into the warehouse for some "guy time" with the warehouse workers. Pam is offered a chance to pursue her dreams of drawing and Roy confronts Jim about his feelings for Pam.

A routine office day is changed when children come to Dunder Mifflin for "Take Your Daughter to Work Day." Michael is surprised when he strikes up a friendship with the five-year old ...
                    See full summaryÃƒâ€šÃ‚Â Ãƒâ€šÃ‚Â»
A routine office day is changed when children come to Dunder Mifflin for "Take Your Daughter to Work Day." Michael is surprised when he strikes up a friendship with the five-year old daughter of his sworn enemy, Toby. Pam is desperate to befriend her colleagues' offspring and a misunderstanding puts Ryan under Stanley's thumb.

In [18]:
lines1 = pd.read_csv("../data/the-office_lines.csv")
lines1.info()
lines1 #contiene [direcciones]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58721 entries, 0 to 58720
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      58721 non-null  int64
 1   Character       58721 non-null  object
 2   Line            58721 non-null  object
 3   Season          58721 non-null  int64
 4   Episode_Number  58721 non-null  int64
dtypes: int64(3), object(2)
memory usage: 2.2+ MB

,Unnamed: 0,Character,Line,Season,Episode_Number
0,0,Michael,All right Jim. Your quarterlies look very goo...,1,1
1,1,Jim,"Oh, I told you. I couldn’t close it. So…",1,1
2,2,Michael,So you’ve come to the master for guidance? Is...,1,1
3,3,Jim,"Actually, you called me in here, but yeah.",1,1
4,4,Michael,"All right. Well, let me show you how it’s don...",1,1
...,...,...,...,...,...
58716,61302,Creed,It all seems so very arbitrary. I applied for...,9,23
58717,61303,Meredith,I just feel lucky that I got a chance to shar...,9,23
58718,61304,Phyllis,I’m happy that this was all filmed so I can r...,9,23
58719,61305,Jim,I sold paper at this company for 12 years. My...,9,23
58720,61306,Pam,I thought it was weird when you picked us to ...,9,23

In [19]:
lines2 = pd.read_csv("../data/The-Office-Lines-V4.csv")
lines2.info()
lines2 # 4k líneas menos(?)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54626 entries, 0 to 54625
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      54626 non-null  int64
 1   episode     54626 non-null  int64
 2   title       54626 non-null  object
 3   scene       54626 non-null  int64
 4   speaker     54626 non-null  object
 5   line        54626 non-null  object
 6   Unnamed: 6  17 non-null     object
dtypes: int64(3), object(4)
memory usage: 2.9+ MB

,season,episode,title,scene,speaker,line,Unnamed: 6
0,1,1,Pilot,1,Michael,All right Jim. Your quarterlies look very good...,NaN
1,1,1,Pilot,1,Jim,"Oh, I told you. I couldn't close it. So...",NaN
2,1,1,Pilot,1,Michael,So you've come to the master for guidance? Is ...,NaN
3,1,1,Pilot,1,Jim,"Actually, you called me in here, but yeah.",NaN
4,1,1,Pilot,1,Michael,"All right. Well, let me show you how it's done.",NaN
...,...,...,...,...,...,...,...
54621,9,24,Finale,8153,Creed,It all seems so very arbitrary. I applied for ...,NaN
54622,9,24,Finale,8154,Meredith,I just feel lucky that I got a chance to share...,NaN
54623,9,24,Finale,8155,Phyllis,I'm happy that this was all filmed so I can re...,NaN
54624,9,24,Finale,8156,Jim,I sold paper at this company for 12 years. My ...,NaN
54625,9,24,Finale,8157,Pam,I thought it was weird when you picked us to m...,NaN

In [20]:
lines2["Unnamed: 6"].value_counts()

Unnamed: 6
how are you?                                                                                                          1
Alan and I will conduct your performance review over the phone tomorrow.                                              1
I'm good. I can go home now.                                                                                          1
can we please not talk about paper? There's gotta be something else we can talk about.                                1
I'm stopping the car.                                                                                                 1
Michael told us.                                                                                                      1
we're renting Charlotte's Web.                                                                                        1
that's a twelve hundred dollar stroller.                                                                              1
don't put that on me. I'm just going on a little trip.                                                                1
I've been telling you to take it for years!                                                                           1
was it a spoiled little girl with big lips...                                                                         1
apparently it went very well.                                                                                         1
the French hens have started pulling out my hair to make a nest. Please. Stop.                                        1
he's gonna steal all of our clients.                                                                                  1
there's so much more than desert. Along the north rim of the Grand Canyon is a forest as lush as you've ever seen.    1
it is nice not being the only pregnant woman in the office.                                                           1
wouldn't you agree Andy?                                                                                              1
Name: count, dtype: int64

In [21]:
lindif = lines1.Line != lines2.line
lindif.sum()

ValueError: Can only compare identically-labeled Series objects

In [ ]:
lines1.Character.nunique()

780

In [ ]:
lines2.speaker.nunique()

775

In [22]:
lines1.Character.value_counts().reset_index().head(10)

  Character  count
0   Michael  11806
1    Dwight   7393
2       Jim   6666
3       Pam   5264
4      Andy   3933
5     Kevin   1678
6    Angela   1677
7     Oscar   1464
8      Erin   1452
9      Ryan   1324

In [ ]:
lines2.speaker.value_counts().reset_index().head(10)

   speaker  count
0  Michael  10773
1   Dwight   6752
2      Jim   6222
3      Pam   4973
4     Andy   3698
5    Kevin   1535
6   Angela   1534
7     Erin   1413
8    Oscar   1336
9     Ryan   1182

In [ ]:
https://www.screentimecentral.com/tv-the-office