In [ ]:
import pandas as pd

In [32]:
episodios1 = pd.read_csv("../data/the_office_series.csv")
episodios2 = pd.read_csv("../data/the_office_imdb.csv")
lines1 = pd.read_csv("../data/the-office_lines.csv")
lines2 = pd.read_csv("../data/The-Office-Lines-V4.csv")

In [ ]:
"""
# con una es suficiente
episodios = pd.concat([episodios1[['Season', 'EpisodeTitle', 'About']], episodios2['imdb_rating']], axis=1)
"""
episodes = episodios2[['season', 'title', 'imdb_rating']]
#episodes['numEp'] = episodes.index + 1
episodes

     season             title  imdb_rating
0         1             Pilot          7.4
1         1     Diversity Day          8.3
2         1       Health Care          7.7
3         1      The Alliance          8.0
4         1        Basketball          8.4
..      ...               ...          ...
183       9     Stairmageddon          8.0
184       9    Paper Airplane          8.0
185       9  Livin' the Dream          9.1
186       9          A.A.R.M.          9.5
187       9            Finale          9.8

[188 rows x 3 columns]

In [ ]:
lines = lines1.drop(columns=['Unnamed: 0'])
lines

,Character,Line,Season,Episode_Number
0,Michael,All right Jim. Your quarterlies look very goo...,1,1
1,Jim,"Oh, I told you. I couldn’t close it. So…",1,1
2,Michael,So you’ve come to the master for guidance? Is...,1,1
3,Jim,"Actually, you called me in here, but yeah.",1,1
4,Michael,"All right. Well, let me show you how it’s don...",1,1
...,...,...,...,...
58716,Creed,It all seems so very arbitrary. I applied for...,9,23
58717,Meredith,I just feel lucky that I got a chance to shar...,9,23
58718,Phyllis,I’m happy that this was all filmed so I can r...,9,23
58719,Jim,I sold paper at this company for 12 years. My...,9,23
58720,Pam,I thought it was weird when you picked us to ...,9,23

In [19]:
"""
# no hace falta
lines2['full_line'] = lines2['line'] + ' ' + lines2['Unnamed: 6'].fillna('')

lines2['line'] = lines2['full_line'].str.strip()

lines2 = lines2.drop(columns=['Unnamed: 6', 'full_line'])

lines2
"""

"\n# no hace falta\nlines2['full_line'] = lines2['line'] + ' ' + lines2['Unnamed: 6'].fillna('')\n\nlines2['line'] = lines2['full_line'].str.strip()\n\nlines2 = lines2.drop(columns=['Unnamed: 6', 'full_line'])\n\nlines2\n"

In [39]:
lines2['title'] = lines2['title'].str.rstrip(' (Parts 1&2)')

In [37]:
test = lines2.merge(episodes[['title']], 
                     on='title',
                     how='left')
test

,season,episode,title,scene,speaker,line,Unnamed: 6
0,1,1,Pilot,1,Michael,All right Jim. Your quarterlies look very good...,NaN
1,1,1,Pilot,1,Jim,"Oh, I told you. I couldn't close it. So...",NaN
2,1,1,Pilot,1,Michael,So you've come to the master for guidance? Is ...,NaN
3,1,1,Pilot,1,Jim,"Actually, you called me in here, but yeah.",NaN
4,1,1,Pilot,1,Michael,"All right. Well, let me show you how it's done.",NaN
...,...,...,...,...,...,...,...
54621,9,24,Finale,8153,Creed,It all seems so very arbitrary. I applied for ...,NaN
54622,9,24,Finale,8154,Meredith,I just feel lucky that I got a chance to share...,NaN
54623,9,24,Finale,8155,Phyllis,I'm happy that this was all filmed so I can re...,NaN
54624,9,24,Finale,8156,Jim,I sold paper at this company for 12 years. My ...,NaN
54625,9,24,Finale,8157,Pam,I thought it was weird when you picked us to m...,NaN

In [40]:
scenes = lines2[['season', 'episode', 'title', 'scene', 'speaker']]
scenes

       season  episode   title  scene   speaker
0           1        1    Pilo      1   Michael
1           1        1    Pilo      1       Jim
2           1        1    Pilo      1   Michael
3           1        1    Pilo      1       Jim
4           1        1    Pilo      1   Michael
...       ...      ...     ...    ...       ...
54621       9       24  Finale   8153     Creed
54622       9       24  Finale   8154  Meredith
54623       9       24  Finale   8155   Phyllis
54624       9       24  Finale   8156       Jim
54625       9       24  Finale   8157       Pam

[54626 rows x 5 columns]